<html>
  <head>
    <meta charset="utf-8">
    <title>Simle Blog</title>
  <body>
    <h1>블로그에 오신걸 환영합니다.</h1>
    <form action="/write">
      <p>제목 : <input type="text" name="title" placeholder="제목을 입력해주세요."></p>
      <p>내용 : <input type="text" name="content" placeholder="내용을 입력해주세요."></p>
      <input type="submit" value="등록">
    </form>
    <a href="/show">글 목록보기</a>
  </body>
  </head>
</html>
