<html>
  <head>
    <meta charset="utf-8">
    <title>Simle Blog</title>
  <body>
    <h1>글 작성이 완료되었습니다.</h1>
    <p>제목 : <%= @title %> </p>
    <p>내용 : <%= @content %> </p>
    <a href="/">홈으로</a>
    <a href="/show">목록보기</a>
  </body>
  </head>
</html>
