<html>
  <head>
    <meta charset="utf-8">
    <title>Fake_op.gg</title>
  </head>
  <body>
    <h1>Fake_롤 전적 검색</h1>
    <form action="/serach">
      아이디 : <input type="text" name="id">
      <input type="submit" value="너의 전적은?!">
    </form>
  </body>
</html>
