<html>
  <head>
    <meta charset="utf-8">
    <title>Fake Bing search</title>
  </head>
  <body>
    <h1>Bing search</h1>
    <form action="https://www.bing.com/search">
      Bing 검색 : <input type="text" name="q">
      <input type="submit" value="검색">
    </form>
  </body>
</html>
